/Deprecated
node_modules
node_modules
.env
coverage
coverage.json
typechain
cache
artifacts
typechain-types
/typechain-types
/artifacts
Backend/node_modules
Backend/.env
Backend/coverage
Backend/coverage.json
Backend/typechain
Backend/cache
Backend/artifacts
Backend/typechain-types

