<app-multipage-navbar></app-multipage-navbar>

<!-- Page Title -->
<div class="page-banner-area" style="background-image: url(assets/images/page-banner-bg.jpg);">
    <div class="container">
        <div class="page-banner-content">
            <ul>
                <li>
                    <a routerLink="/">
                        HOME
                    </a>
                </li>
                <li>
                    <span>CREATE PROJECT</span>
                </li>
            </ul>
            <h2>Create a Projecct</h2>
            <img src="assets/images/page-star.png" class="star" alt="star">
        </div>
    </div>
    <img src="assets/images/banner/banner-shape-1.png" class="shape shape-1" alt="shape">
    <img src="assets/images/banner/banner-shape-2.png" class="shape shape-2" alt="shape">
</div>

<div class="privacy-policy-area ptb-120">
    <div class="container">
        <div class="row justify-content-center">
        <div class="row">
            <div class="form-group">
                <h1>Create a new Project</h1>
                <p>In order to be able to create projects, you have to have created an Organization first.</p>

                <h3>Rules:</h3>
                <ol>
                    <li>Only one project can be open at a time.</li>
                    <li>Projects have to be about climate change.</li>
                    <li>Projects have to be related to small-states.</li>
                    <li>Projects have to be non-profit.</li>
                    <li>The max amount of funds needed can't exceed x ETH.</li>
                    <li>Once a project is created it has X weeks to be voted by the DAO community.</li>
                    <li>Once a project is voted, the funds will be sent to the organization.</li>
                    <li>After the project is finished, the organization has to provide a proof.</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="contact-form">
    <form>
        <div class="row center-block justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Project Title</label>
                    <input type="text" name="name" id="name" class="form-control" required placeholder="Project Title" [(ngModel)]="projectTitle">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>URL for more Information</label>
                    <input type="email" name="email" id="email" class="form-control" required placeholder="your@organization.com">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Funds Needed (ETH)</label>
                    <input type="text" name="fundsNeeded" id="fundsNeeded" required class="form-control" placeholder="20" [(ngModel)]="fundsNeeded">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>State</label>
                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="State">
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <label>Project Description</label>
                    <textarea name="message" class="form-control" id="message" cols="30" rows="6" required placeholder="Tell us something about your Project" [(ngModel)]="projectDescription"></textarea>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-check">
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                name="gridCheck"
                                value="I agree to the terms and privacy policy."
                                class="form-check-input"
                                type="checkbox"
                                id="gridCheck"
                                required
                            >
                            <label class="form-check-label" for="gridCheck">
                                I agree to the <a routerLink="/terms-conditions">Terms & Conditions</a> and <a routerLink="/privacy-policy">Privacy Policy</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <button class="default-btn" (click)="createProject()">Create Project</button>
            </div>
        </div>
    </form>
</div>

</div>
