<div class="erroe-area ptb-120">
    <div class="container">
        <div class="error-content">
            <br>
            <img src="assets/images/logo.png" alt="logo">
            <br>
            <br>
            <br>
            <h2>Wallet Login</h2>
            <p>Connect your crypto wallet to be able to donate and vote for the projects.</p>
            <br>
            <app-wallet-connect></app-wallet-connect>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <app-wallet-icons></app-wallet-icons>
            <!-- <a routerLink="/" class="default-btn">Back To Home</a> -->
        </div>
    </div>
</div>
