<!-- Default Projects Section -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-5 col-lg-12 col-md-12">
                <div class="projects-content">
                    <span class="top-title">Wallets</span>
                    <h2>This is a DApp</h2>
                    <p>Use your favorite wallet application </p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12 col-md-12">
                <div class="projects-slides">
                    <owl-carousel-o [options]="projectsSlides">
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/wallet-icons/coinbase-wallet-logo.jpg" alt="project-image">
                                <h3 class="main">
                                    Coinbase
                                </h3>
                                <!-- <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Coinbase
                                    </a>
                                </h3> -->
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/wallet-icons/portis-logo.png" alt="project-image">
                                <h3 class="main">
                                    Portis
                                </h3>
                                <!-- <h3 class="hover">
                                    <a routerLink="/project-details">
                                        Portis
                                    </a>
                                </h3> -->
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project">
                                <img src="assets/images/wallet-icons/metamask-logo.jpg" alt="project-image">
                                <h3 class="main">
                                    MetaMask
                                </h3>
                                <!-- <h3 class="hover">
                                    <a routerLink="/project-details">
                                        MetaMask
                                    </a>
                                </h3> -->
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="single-project logo">
                                <img src="assets/images/wallet-icons/wallet-connect-logo.png" alt="project-image">
                                <h3 class="main">
                                    WalletConnect
                                </h3>
                                <!-- <h3 class="hover">
                                    <a routerLink="/project-details">
                                        WalletConnect
                                    </a>
                                </h3> -->
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
