<div
    id="about"
    class="about-area bg-170f32 pt-120"
    [ngClass]="{'style-two pb-120': router.url === '/index-2' || router.url === '/index-5' || router.url === '/dex-offering' || router.url === '/land-selling-platform'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image style-bottom">
                    <img src="assets/images/about-img.png" alt="abotu-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="top-title">ABOUT US</span>
                    <h2>Sea-Level-Raise DAO</h2>
                    <p>The SLR-DAO is a decentralized autonomous organization that fights the consequences of climate change in small-state islands.</p>
                    <p>Donate and become a member to be able to vote for the projects.</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="assets/images/icon/icon-8.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="assets/images/icon/icon-9.svg" alt="twitter">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="assets/images/icon/icon-10.svg" alt="youtube">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="assets/images/icon/icon-11.svg" alt="linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="assets/images/icon/instagram.svg" alt="instagram">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
