<p>Create a new organization</p>

<input type="text" placeholder="Organization Name" [(ngModel)]="organizationName" />
<input type="text" placeholder="Organization Description" [(ngModel)]="organizationDescription" />
<!-- <input type="text" placeholder="Organization Website" [(ngModel)]="organizationWebsite" />
<input type="text" placeholder="Organization Logo" [(ngModel)]="organizationLogo" />
<input type="text" placeholder="Organization Email" [(ngModel)]="organizationEmail" />
<input type="text" placeholder="Organization Phone" [(ngModel)]="organizationPhone" />
<input type="text" placeholder="Organization Address" [(ngModel)]="organizationAddress" />
<input type="text" placeholder="Organization City" [(ngModel)]="organizationCity" />
<input type="text" placeholder="Organization State" [(ngModel)]="organizationState" />
<input type="text" placeholder="Organization Country" [(ngModel)]="organizationCountry" />
<input type="text" placeholder="Organization Zip" [(ngModel)]="organizationZip" />
<input type="text" placeholder="Organization Type" [(ngModel)]="organizationType" />
<input type="text" placeholder="Organization Industry" [(ngModel)]="organizationIndustry" />
<input type="text" placeholder="Organization Tags" [(ngModel)]="organizationTags" /> -->

<button class="default-btn" (click)="createOrganization()">Create Organization</button>

