<div class="background-panel">
<h2 mat-dialog-title>{{title}}</h2>
<h3 mat-dialog-title>Balance: {{balance}}</h3>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="amount">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="secondary" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="amount" cdkFocusInitial>{{buttonText}}</button>
</mat-dialog-actions>
</div>
